/* FONTS */

/* @font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/century-gothic/century-gothic.svg#CenturyGothic') format('svg'),
       url('../fonts/century-gothic/century-gothic.ttf') format('truetype'),
       url('../fonts/century-gothic/century-gothic.woff') format('woff'),
       url('../fonts/century-gothic/century-gothic.eot'),
       url('../fonts/century-gothic/century-gothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/century-gothic/century-gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'Yanone Kaffeesatz Regular';
  src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular/YanoneKaffeesatz-Regular.eot');
  src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular/YanoneKaffeesatz-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }